/*
 *  $Id: sample1.cfg 2416 2012-09-07 08:06:20Z ertl-hiro $
 */

/*
 *  サンプルプログラム(1)のシステムコンフィギュレーションファイル
 */
INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "sample1.h"
CRE_CYC(RAND_CYC_HANDLER, { TA_STA, 0, rand_cyc_handler, RAND_INTERVAL, 0 });
CRE_TSK(TASK_HIST, { TA_ACT, 1, task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_DTQ(DTQ_RAND, { TA_NULL, 2, NULL });

